<!DOCTYPE html>
<html>
<head>
    <title>WeChat Helper</title>
</head>
<body>
    <h1>WeChat Helper</h1>
    <div>
        <label for="receiver">Receiver:</label>
        <input type="text" id="receiver" name="receiver">
        <button onclick="setReceiver()">Set Receiver</button>
    </div>
    <div>
        <button onclick="toggleTransport()">Toggle Transport</button>
    </div>
    <div id="status"></div>
    <div>
        <button onclick="startLogin()">启动登录</button>
    </div>
    <script>
        function setReceiver() {
            var receiver = document.getElementById("receiver").value;
            fetch('/set_receiver', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'receiver=' + receiver
            })
            .then(response => response.text())
            .then(data => {
                console.log("接收到后端返回的状态：", data);
                document.getElementById("status").innerText = data;
            });
        }

        function toggleTransport() {
            fetch('/toggle_transport', {method: 'POST'})
            .then(response => response.text())
            .then(data => {
                console.log("接收到后端返回的状态：", data);
                document.getElementById("status").innerText = data;
            });
        }

        function startLogin() {
            document.getElementById("status").innerText = "登录中...";
            fetch('/start_login', { method: 'POST' })
                .then(response => response.text())
                .then(data => {
                    document.getElementById("status").innerText = data;
                });
    }
    </script>
</body>
</html>
